[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bls-solidity"]
	path = lib/bls-solidity
	url = https://github.com/randa-mu/bls-solidity
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
